.containerNavbar  {
  width: 100%;
  background-color: plum;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: purple;
  padding-inline-start: 5rem;
  padding-inline-end: 5rem;
}
  
  .categories{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
  }


  .categories a {
    background-color: rgb(212, 69, 225);
    padding: 10px 20px;
    color: #5f0891;
    width: 100px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
  }
  